<%= form_with(model: @chat) do |f| %>
  <div class="mb-3">
    <%= f.label :receiver_id, "Select Contact", class: 'form-label' %>
    <%= f.select :receiver_id, 
          @users.map { |u| [u.full_name, u.id] },
          { include_blank: true },
          class: 'form-select' %>
  </div>

  <div class="actions">
    <%= f.submit 'Start Chat', class: 'btn btn-primary' %>
  </div>
<% end %>